apiVersion: apps/v1
kind: Deployment
metadata:
  name: algorithm-operator
  labels:
    app: algorithm-operator
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    group: {{ .Values.labels.group.value }}
    core: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: algorithm-operator
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmaps/algorithm-operator-cm.yaml") . | sha256sum }}
      labels:
        app: algorithm-operator
        release: {{ .Release.Name }}
        group: {{ .Values.labels.group.value }}
    spec:
      serviceAccountName: algorithm-operator-serviceaccount
{{- if or .Values.global.registry_password .Values.global.image_pull_secret.use_existing }}
      imagePullSecrets:
        - name: {{ .Values.global.image_pull_secret.name }}
{{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: algorithm-operator
          image: "{{ .Values.global.registry }}{{ index .Values "algorithm_operator" "image" "repository" }}:{{ index .Values "algorithm_operator" "image" "tag" }}"
{{- if .Values.global.resources_enable }}          
          resources:
{{ toYaml .Values.algorithm_operator.resources | indent 12 }}
{{- else }}
          resources: {}
{{- end }}
{{- if .Values.algorithm_operator.healthcheck.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.algorithm_operator.healthcheck.path }}
              port: {{ .Values.algorithm_operator.healthcheck.port }}
            initialDelaySeconds: {{ .Values.algorithm_operator.healthcheck.initialDelaySeconds }}
            periodSeconds: {{ .Values.algorithm_operator.healthcheck.periodSeconds }}
            timeoutSeconds: {{ .Values.algorithm_operator.healthcheck.timeoutSeconds }}
            failureThreshold: {{ .Values.algorithm_operator.healthcheck.failureThreshold }}
{{- end }}          
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ index .Values "algorithm_operator" "env" "metric_port" }}
              protocol: TCP
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: NODE_ENV
            - name: METRICS_PORT
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: METRICS_PORT
{{- if .Values.global.isPrivileged }}            
            - name: JAEGER_AGENT_SERVICE_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
{{- else if .Values.jaeger.external_agent_address }}
            - name: JAEGER_AGENT_SERVICE_HOST
              value: .Values.jaeger.external_agent_address
{{- end }}    
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: ALGORITHM_QUEUE_CONCURRENCY_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: ALGORITHM_QUEUE_CONCURRENCY_LIMIT
            - name: PIPELINE_DRIVERS_AMOUNT
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: PIPELINE_DRIVERS_AMOUNT
            - name: PIPELINE_DRIVERS_CONCURRENCY_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: PIPELINE_DRIVERS_CONCURRENCY_LIMIT
            - name: DEFAULT_STORAGE
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: DEFAULT_STORAGE
            - name: STORAGE_ENCODING
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: STORAGE_ENCODING                  
            - name: BOARDS_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: BOARDS_TIMEOUT
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: CLUSTER_NAME
            - name: IS_PRIVILEGED
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: IS_PRIVILEGED
            - name: BUILD_MODE
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: BUILD_MODE
            - name: INTERVAL_MS
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: INTERVAL_MS
            - name: ALGORITHM_BUILDER_BUILDER_CPU
              value: {{ .Values.algorithm_operator.env.algorithm_builder_builder_cpu | quote}}
            - name: ALGORITHM_BUILDER_BUILDER_MEMORY
              value: {{ .Values.algorithm_operator.env.algorithm_builder_builder_memory | quote}}
            - name: ALGORITHM_BUILDER_MAIN_CPU
              value: {{ .Values.algorithm_operator.env.algorithm_builder_main_cpu | quote}}
            - name: ALGORITHM_BUILDER_MAIN_MEMORY
              value: {{ .Values.algorithm_operator.env.algorithm_builder_main_memory | quote}}
            - name: RESOURCES_ENABLE
              value: {{ .Values.algorithm_operator.env.resources_enable | quote}}
{{- if eq .Values.env.default_storage "fs" }}
            - name: BASE_FS_ADAPTER_DIRECTORY
              valueFrom:
                configMapKeyRef:
                  name: algorithm-operator-configmap
                  key: BASE_FS_ADAPTER_DIRECTORY
{{- else if eq .Values.env.default_storage "s3" }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsKey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsSecret
            - name: S3_ENDPOINT_URL
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsEndpointUrl
{{- end }}              
{{- if .Values.mongodb.enable }}
            - name: MONGODB_SERVICE_USER_NAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongodb-username
            - name: MONGODB_SERVICE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongodb-password
            - name: MONGODB_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: mongodb-database
{{- end }}
