{{- if index .Values "artifacts_registry" "ingress" "enabled" -}}
{{- $fullName := "artifacts-registry" -}}
{{- $servicePort := .Values.artifacts_registry.env.port | int -}}
{{- $ingressPath := .Values.artifacts_registry.ingress.path -}}
apiVersion:  {{ template "ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: artifacts-registry
  annotations:
{{- if eq .Values.global.ingress.class "nginx"}}
    nginx.ingress.kubernetes.io/ssl-redirect: {{ .Values.global.ingress.requireTls | quote }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ .Values.global.ingress.maxBodySize | quote }}
{{- else if eq .Values.global.ingress.class "haproxy"}}
    haproxy.router.openshift.io/ssl-redirect: {{ .Values.global.ingress.requireTls | quote }}
    haproxy.router.openshift.io/proxy-body-size: {{ .Values.global.ingress.maxBodySize | quote }}
{{- end }}
{{- if .Values.global.ingress.hostname }}
    kubernetes.io/tls-acme: "true"
{{- end }}    
  labels:
    app: artifacts-registry
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    group: {{ .Values.labels.group.value }}
    core: "true"
spec:
{{- if eq .Values.global.ingress.class "nginx"}}
  ingressClassName: {{ .Values.global.ingress.class | quote }}
{{- end }}
{{- if .Values.global.ingress.hostname }}
  tls:
  - hosts:
    - {{ .Values.global.ingress.hostname }}
    secretName: {{ $fullName }}-tls-secret
{{- end }}
  rules:
    - http:
        paths:
        - path: {{ .Values.global.ingress.prefix }}{{ $ingressPath }}
          backend: {{- include "ingress.backend" (dict "serviceName" $fullName "servicePort" $servicePort "context" $) | nindent 12 }}
          {{- if eq "true" (include "ingress.supportsPathType" .) }}
          pathType: ImplementationSpecific
          {{- end }}
{{- if .Values.global.ingress.hostname }}
      host: {{ .Values.global.ingress.hostname }}
{{- end }}
{{- end }}