apiVersion: apps/v1
kind: Deployment
metadata:
  name: caching-service
  labels:
    app: caching-service
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    group: {{ .Values.labels.group.value }}
    core: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caching-service
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmaps/caching-service-cm.yaml") . | sha256sum }}
      labels:
        app: caching-service
        release: {{ .Release.Name }}
        group: {{ .Values.labels.group.value }}
    spec:
{{- if or .Values.global.registry_password .Values.global.image_pull_secret.use_existing }}
      imagePullSecrets:
        - name: {{ .Values.global.image_pull_secret.name }}
{{- end }}     
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- if eq .Values.env.default_storage "fs" }}
      volumes:
        - name: storage-volume
          persistentVolumeClaim:
            claimName: hkube-storage-pvc
{{- end }}        
      containers:
        - name: caching-service
          image: "{{ .Values.global.registry }}{{ index .Values "caching_service" "image" "repository" }}:{{ index .Values "caching_service" "image" "tag" }}"
          imagePullPolicy: {{ index .Values "image" "pullPolicy" }}
          resources:
{{ toYaml .Values.caching_service.resources | indent 12 }} 
{{- if eq .Values.env.default_storage "fs" }}
          volumeMounts:
            - name: storage-volume
              mountPath: {{ .Values.global.storage.fs.base_directory | quote}}
{{- end }}                
          ports:
            - containerPort: {{ index .Values "caching_service" "env" "port" }}
              protocol: TCP
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: caching-service-configmap
                  key: NODE_ENV
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: caching-service-configmap
                  key: CLUSTER_NAME
{{- if eq .Values.env.default_storage "fs" }}
            - name: BASE_FS_ADAPTER_DIRECTORY
              valueFrom:
                configMapKeyRef:
                  name: caching-service-configmap
                  key: BASE_FS_ADAPTER_DIRECTORY
{{- else if eq .Values.env.default_storage "s3" }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsKey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsSecret
            - name: S3_ENDPOINT_URL
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsEndpointUrl
{{- end }}                         
            - name: DEFAULT_STORAGE
              valueFrom:
                configMapKeyRef:
                  name: caching-service-configmap
                  key: DEFAULT_STORAGE
            - name: STORAGE_ENCODING
              valueFrom:
                configMapKeyRef:
                  name: caching-service-configmap
                  key: STORAGE_ENCODING                  
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
