apiVersion: v1
data:
  registry.json: |
        {"registry":{{ .Values.global.registry | trimSuffix "/" | quote }} }
  clusterOptions.json: |
        {
              "useNodeSelector": {{ .Values.nodeSelector | default false}}, 
              "ingressHost": {{ .Values.global.ingress.hostname | quote }},
              "ingressPrefix": {{ .Values.global.ingress.prefix | quote }},
              "ingressUseRegex": {{ .Values.global.ingress.use_regex }}
        }
  versions.json: |
        {
            "systemVersion": "{{ .Values.systemversion }}",
            "fullSystemVersion": "{{ .Values.fullSystemVersion }}",
            "versions": [
                  {
                        "project": "api-server",
                        "tag": "{{ index .Values "api_server" "image" "tag" }}",
                        "image": "{{ .Values.api_server.image.repository }}"
                  },
                  {
                        "project": "worker",
                        "tag": "{{ index .Values "worker" "image" "tag" }}",
                        "image": "{{ .Values.worker.image.repository }}"
                  },
                  {
                        "project": "pipeline-driver",
                        "tag": "{{ .Values.pipeline_driver.image.tag }}",
                        "image": "{{ .Values.pipeline_driver.image.repository }}"
                  },
                  {
                        "project": "algorunner",
                        "tag": "{{ index .Values "algorunner" "image" "tag" }}",
                        "image": "{{ .Values.algorunner.image.repository }}"
                  },
                  {
                        "project": "simulator",
                        "tag": "{{ index .Values "simulator" "image" "tag" }}",
                        "image": "{{ .Values.simulator.image.repository }}"
                  },
                  {
                        "project": "algorithm-example",
                        "tag": "{{ index .Values "algorithm-example" "image" "tag" }}",
                        "image": "{{ index .Values "algorithm-example" "image" "repository" }}"
                  },
                  {
                        "project": "monitor-server",
                        "tag": "{{ index .Values "monitor_server" "image" "tag" }}",
                        "image": "{{ .Values.monitor_server.image.repository }}"
                  },
                  {
                        "project": "algorithm-queue",
                        "tag": "{{ index .Values "algorithm_queue" "image" "tag" }}",
                        "image": "{{ index .Values "algorithm_queue" "image" "repository" }}"
                  },
                  {
                        "project": "resource-manager",
                        "tag": "{{ index .Values "resource_manager" "image" "tag" }}",
                        "image": "{{ .Values.resource_manager.image.repository }}"
                  },
                  {
                        "project": "task-executor",
                        "tag": "{{ .Values.task_executor.image.tag }}",
                        "image": "{{ .Values.task_executor.image.repository }}"
                  },
                  {
                        "project": "trigger-service",
                        "tag": "{{ index .Values "trigger_service" "image" "tag" }}",
                        "image": "{{ .Values.trigger_service.image.repository }}"
                  },
                  {
                        "project": "algorithm-operator",
                        "tag": "{{ index .Values "algorithm_operator" "image" "tag" }}",
                        "image": "{{ .Values.algorithm_operator.image.repository }}"
                  },
                  {
                        "project": "pipeline-driver-queue",
                        "tag": "{{ .Values.pipeline_driver_queue.image.tag }}",
                        "image": "{{ .Values.pipeline_driver_queue.image.repository }}"
                  },
                  {
                        "project": "clean-old-jobs",
                        "tag": "{{ index .Values "clean_old_jobs" "image" "tag" }}",
                        "image": "{{ .Values.clean_old_jobs.image.repository }}"
                  },
                  {
                        "project": "cpu-load-algorithm",
                        "tag": "{{ index .Values "cpu-load-algorithm" "image" "tag" }}",
                        "image": "{{ index .Values "cpu-load-algorithm" "image" "repository" }}"
                  },
                  {
                        "project": "storage-cleaner",
                        "tag": "{{ index .Values "storage_cleaner" "image" "tag" }}",
                        "image": "{{ .Values.storage_cleaner.image.repository }}"
                  },
                  {
                        "project": "pipeline-cleaner",
                        "tag": "{{ index .Values "pipeline_cleaner" "image" "tag" }}",
                        "image": "{{ .Values.pipeline_cleaner.image.repository }}"
                  },
                  {
                        "project": "etcd-cleaner",
                        "tag": "{{ index .Values "etcd_cleaner" "image" "tag" }}",
                        "image": "{{ .Values.etcd_cleaner.image.repository }}"
                  },
                  {
                        "project": "caching-service",
                        "tag": "{{ index .Values "caching_service" "image" "tag" }}",
                        "image": "{{ .Values.caching_service.image.repository }}"
                  },
                  {
                        "project": "algorithm-builder",
                        "tag": "{{ index .Values "algorithm_builder" "image" "tag" }}",
                        "image": "{{ index .Values "algorithm_builder" "image" "repository" }}"
                  },
                  {
                        "project": "kaniko",
                        "tag": "{{ .Values.kaniko.image.tag }}",
                        "image": "{{ .Values.kaniko.image.repository }}"
                  },
                  {
                        "project": "oc-builder",
                        "tag": "{{ .Values.oc_builder.image.tag }}",
                        "image": "{{ .Values.oc_builder.image.repository }}"
                  },
                  {
                        "project": "algorithm-example-python",
                        "tag": "{{ .Values.algorithm_example_python.image.tag }}",
                        "image": "{{ .Values.algorithm_example_python.image.repository }}"
                  },
                  {
                        "project": "nodejs-env",
                        "tag": "{{ .Values.nodejs_env.image.tag }}",
                        "image": "{{ .Values.nodejs_env.image.repository }}"
                  },
                  {
                        "project": "python-env",
                        "tag": "{{ .Values.python_env.image.tag }}",
                        "image": "{{ .Values.python_env.image.repository }}"
                  },
                  {
                        "project": "tensorboard",
                        "tag": "{{ .Values.tensorboard.image.tag }}",
                        "image": "{{ .Values.tensorboard.image.repository }}"
                  },
                  {
                        "project": "storage-migration",
                        "tag": "{{ .Values.storage_migration.image.tag }}",
                        "image": "{{ .Values.storage_migration.image.repository }}"
                  }

            ]
            }
kind: ConfigMap
metadata:
  name: hkube-versions
  namespace: {{ .Release.Namespace }}
