{{- if .Values.gc_service.ingress.enabled -}}
{{- $fullName := "gc-service" -}}
{{- $servicePort := .Values.gc_service.env.rest_port | int -}}
{{- $ingressPath := .Values.gc_service.ingress.path -}}
apiVersion:  {{ template "ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: gc-service
  annotations:
{{- if eq .Values.global.ingress.class "nginx"}}
{{- if .Values.global.ingress.use_regex }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
{{- else }}
    nginx.ingress.kubernetes.io/rewrite-target: /
{{- end }}
    nginx.ingress.kubernetes.io/ssl-redirect: {{ .Values.global.ingress.requireTls | quote }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ .Values.global.ingress.maxBodySize | quote }}
{{- else if eq .Values.global.ingress.class "haproxy"}}
    haproxy.router.openshift.io/rewrite-target: /
    haproxy.router.openshift.io/ssl-redirect: {{ .Values.global.ingress.requireTls | quote }}
    haproxy.router.openshift.io/proxy-body-size: {{ .Values.global.ingress.maxBodySize | quote }}
{{- end }}
    
{{- if .Values.global.ingress.hostname }}
    kubernetes.io/tls-acme: "true"
{{- end }}    
  labels:
    app: gc-service
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    group: {{ .Values.labels.group.value }}
    core: "true"
spec:
{{- if eq .Values.global.ingress.class "nginx"}}
  ingressClassName: {{ .Values.global.ingress.class | quote }}
{{- end }}
{{- if .Values.global.ingress.hostname }}
  tls:
  - hosts:
    - {{ .Values.global.ingress.hostname }}
    secretName: {{ $fullName }}-tls-secret
{{- end }}
  rules:
    - http:
        paths:
{{- if .Values.global.ingress.use_regex }}
        - path: {{ .Values.global.ingress.prefix }}{{ $ingressPath }}(/|$)(.*)
{{- else }}
        - path: {{ .Values.global.ingress.prefix }}{{ $ingressPath }}
{{- end }}
          backend: {{- include "ingress.backend" (dict "serviceName" $fullName "servicePort" $servicePort "context" $) | nindent 12 }}
          {{- if eq "true" (include "ingress.supportsPathType" .) }}
          pathType: ImplementationSpecific
          {{- end }}
{{- if .Values.global.ingress.hostname }}
      host: {{ .Values.global.ingress.hostname }}
{{- end }}
{{- end }}