apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: storage-cleaner
  labels:
    group: {{ .Values.labels.group.value }}
    core: "true"
    app: storage-cleaner
spec:

  schedule: {{ .Values.storage_cleaner.pattern | quote }} 
  startingDeadlineSeconds: 200
  jobTemplate:
    spec:
      template:
        spec:
{{- if or .Values.global.registry_password .Values.global.image_pull_secret.use_existing }}
          imagePullSecrets:
            - name: {{ .Values.global.image_pull_secret.name }}
{{- end }}        
{{- if eq .Values.env.default_storage "fs" }}
          volumes:
            - name: storage-volume
              persistentVolumeClaim:
                claimName: hkube-storage-pvc
{{- end }}          
          containers:
          - name: storage-cleaner
            image: "{{ .Values.global.registry }}{{ index  .Values "storage_cleaner" "image" "repository" }}:{{ index .Values "storage_cleaner" "image" "tag" }}"
            resources:
{{ toYaml .Values.storage_cleaner.resources | indent 14 }} 
{{- if eq .Values.env.default_storage "fs" }}
            volumeMounts:
              - name: storage-volume
                mountPath: {{ .Values.global.storage.fs.base_directory | quote}}
{{- end }} 
            env:
            - name: "TEMP_OBJECT_EXPIRATION_DAYS"
              valueFrom:
                configMapKeyRef:
                  name: storage-cleaner-configmap
                  key: TEMP_OBJECT_EXPIRATION_DAYS
            - name: "RESULT_OBJECT_EXPIRATION_DAYS"
              valueFrom:
                configMapKeyRef:
                  name: storage-cleaner-configmap
                  key: RESULT_OBJECT_EXPIRATION_DAYS
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: storage-cleaner-configmap
                  key: CLUSTER_NAME
{{- if eq .Values.env.default_storage "fs" }}
            - name: BASE_FS_ADAPTER_DIRECTORY
              valueFrom:
                configMapKeyRef:
                  name: api-server-configmap
                  key: BASE_FS_ADAPTER_DIRECTORY
{{- else if eq .Values.env.default_storage "s3" }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsKey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsSecret
            - name: S3_ENDPOINT_URL
              valueFrom:
                secretKeyRef:
                  name: s3-secret
                  key: awsEndpointUrl
{{- end }}  
            - name: DEFAULT_STORAGE
              valueFrom:
                configMapKeyRef:
                  name: storage-cleaner-configmap
                  key: DEFAULT_STORAGE
          restartPolicy: Never
