global:
  clusterName: cluster.local
  registry: ''
  registry_namespace: hkube
  registry_username: ''
  registry_password: ''
  registry_insecure: false
  registry_skip_tls_verify: false
  storage:
    encoding: msgpack
    storageResultsThreshold: 100Ki
    fs:
      pvc:
        name: hkube-storage
        capacity: 10Gi
        storage_class: '-'
      dev_pvc:
        name: hkube-dev-sources
        capacity: 10Gi
        storage_class: ''
      base_directory: /hkubedata
    s3:
      access_key: hkubeminiokey
      secret_key: hkubeminiosecret
      url: 'http://hkube-minio:9000'
  discovery:
    encoding: msgpack
    port: 9020
    timeout: 30000
    maxCacheSize: 500
  k8senv: k8s
  namespaced: false
  isPrivileged: true
  ingress:
    hostname: ''
    prefix: ''
    use_regex: true
    requireTls: false
    maxBodySize: 500m
env:
  default_storage: s3
  node_env: production
image:
  pullPolicy: IfNotPresent
labels:
  core:
    value: 'true'
  group:
    value: hkube
etcd-operator:
  enable: false
etcd:
  enable: true
  replicas: 3
  persistentVolume:
    enabled: true
    storageClass: ''
    storage: 1Gi
redis-ha:
  enable: true
  replicas: 3
  redis:
    config:
      min-slaves-to-write: 1
  hardAntiAffinity: false
jaeger:
  enable: false
  fullnameOverride: jaeger
  nameOverride: jaeger
  query:
    basePath: /jaeger
    ingress:
      enabled: true
  agent:
    daemonset:
      useHostPort: true
  cassandra:
    config:
      cluster_size: 1
      cluster_domain: cluster.local
nginx-ingress:
  enable: false
minio:
  enable: true
  accessKey: hkubeminiokey
  secretKey: hkubeminiosecret
  persistence:
    enabled: true
    storageClass: ''
metrics:
  serviceMonitorSelector:
    release: metrics
  grafanaDashboardLabel:
    grafana_dashboard: '1'
systemversion: v1.3.65
build_secret:
  docker_registry: ''
  docker_namespace: ''
  docker_username: ''
  docker_password: ''
  docker_registry_insecure: false
  docker_registry_skip_tls_verify: false
  npm_registry: ''
  npm_token: ''
  pip_registry: ''
  pip_token: ''
nodeSelector: {}
algorithm_operator:
  env:
    metric_port: '3000'
    builder_cpu: 0.1
    algorithm_builder_builder_memory: 1024
    algorithm_builder_main_cpu: 0.5
    algorithm_builder_main_memory: 512
    resources_enable: false
    algorithm_queue_interval: 200
    boards_timeout: 10800
    producer_update_interval: 1000
    python_wrapper_version: ''
    node_wrapper_version: ''
  image:
    repository: hkube/algorithm-operator
    tag: v1.3.5
  ingress:
    enabled: false
    path: /hkube/algorithm-operator
  service:
    type: ClusterIP
  build_mode: kaniko
  healthcheck:
    enabled: true
    port: 5000
    path: /healthz
    initialDelaySeconds: 100
    periodSeconds: 60
    timeoutSeconds: 1
    failureThreshold: 3
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
algorithm_queue:
  image:
    repository: hkube/algorithm-queue
    tag: v1.3.2
algorithm_queue_svc:
  env:
    metric_port: '3000'
  service:
    type: ClusterIP
algorunner:
  image:
    repository: hkube/algorunner
    tag: v1.3.3
api_server:
  env:
    base_url_path: /hkube/api-server
    metric_port: '3001'
    port: '3000'
    pipeline_driver_cpu: '0.2'
    pipeline_driver_mem: '2048'
  image:
    repository: hkube/api-server
    tag: v1.3.25
  ingress:
    enabled: true
    path: /hkube/api-server
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
busybox:
  image:
    repository: busybox
    tag: latest
clean_old_jobs:
  env:
    hkube_log_level: '2'
    max_completed_job_age_hours: '0.0166'
    max_failed_job_age_hours: '0.0166'
    max_pending_job_age_hours: '0.0166'
    clean_cron: '*/1 * * * *'
  healthcheck:
    enabled: true
    port: 5000
    path: /healthz
    initialDelaySeconds: 100
    periodSeconds: 60
    timeoutSeconds: 1
    failureThreshold: 3
  image:
    repository: hkube/clean-old-jobs
    tag: v1.3.1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
cpu-load-algorithm:
  image:
    repository: hkube/cpu-load-algorithm
    tag: v1.3.1
tensorboard:
  image:
    repository: hkube/tensorboard
    tag: v1.3.1
delete_deployment_and_jobs:
  image:
    repository: hkube/del-dep-and-jobs
    tag: v1.0.8
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
etcd_cleaner:
  pattern: 0 0 * * *
  env:
    object_expiration_days: '5'
  image:
    repository: hkube/etcd-cleaner
    tag: v1.3.5
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
monitor_server:
  healthcheck:
    enabled: true
    port: 5000
    path: /healthz
    initialDelaySeconds: 500
    periodSeconds: 60
    timeoutSeconds: 1
    failureThreshold: 3
  env:
    metric_port: 30010
    log_external_requests: false
    elasticsearch_service_url: ''
    logs_view_source: k8s
    jaeger_query_service_host: ''
    jaeger_query_service_port: ''
  image:
    repository: hkube/monitor-server
    tag: v1.3.3
  ingress:
    enabled: true
    path: /hkube/monitor-server
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
monitor_server_listener:
  enable: false
  pattern: '*/10 * * * *'
  timeout: 60000
  image:
    repository: hkube/monitor-server-listener
    tag: v1.3.0
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
pipeline_cleaner:
  pattern: '*/5 * * * *'
  image:
    repository: hkube/pipeline-cleaner
    tag: v1.3.1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
pipeline_driver:
  env:
    metric_port: '3001'
  image:
    repository: hkube/pipeline-driver
    tag: v1.3.19
  service:
    type: ClusterIP
pipeline_driver_queue:
  env:
    hkube_log_level: '2'
    metric_port: '3000'
    check_queue_interval: '500'
  image:
    repository: hkube/pipeline-driver-queue
    tag: v1.3.1
  ingress:
    enabled: false
    path: /hkube/pipeline-driver-queue
  replicaCount: 1
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
resource_manager:
  healthcheck:
    enabled: false
    port: 5000
    path: /healthz
    initialDelaySeconds: 100
    periodSeconds: 20
    timeoutSeconds: 1
    failureThreshold: 3
  env:
    algorithms_threshold_cpu: '0.9'
    algorithms_threshold_mem: '0.9'
    driver_threshold_cpu: '0.1'
    driver_threshold_mem: '1'
    hkube_log_level: '2'
    interval: '1000'
    metric_port: '3000'
    prometheus_endpoint: 'http://monitoring-prometheus-server.monitoring:9090/api/v1'
  image:
    repository: hkube/resource-manager
    tag: v1.3.2
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
simulator:
  env:
    hkube_log_level: '2'
    metric_port: 9050
    monitor_backend_path: /hkube/monitor-server/
    monitor_backend_path_socketio: /hkube/monitor-server/socket.io
    monitor_backend_use_location: 'true'
    monitor_backend_host: ''
    monitor_backend_port: ''
    board_host: ''
    board_port: ''
    board_path: /hkube/board
    board_use_location: 'true'
    is_secure: ''
  image:
    repository: hkube/simulator
    tag: v1.3.7
  ingress:
    enabled: true
    path: /hkube/dashboard
    alt_path: /hkube/simulator
  metrics:
    port: 9050
  service:
    port: 9050
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
storage_cleaner:
  pattern: 0 0 * * *
  env:
    temp_object_expiration_days: '5'
    result_object_expiration_days: '20'
  image:
    repository: hkube/storage-cleaner
    tag: v1.3.2
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
task_executor:
  healthcheck:
    enabled: true
    port: 5000
    path: /healthz
    initialDelaySeconds: 100
    periodSeconds: 20
    timeoutSeconds: 1
    failureThreshold: 3
  env:
    metric_port: '3000'
    pipeline_drivers_amount: 1
    worker_socket_max_payload_bytes: 1000000000
    worker_algorithm_encoding: bson
    default_storage_protocol: v1
    default_worker_algorithm_encoding: json
    worker_memory: 512
    worker_cpu: 0.1
    resources_enable: false
    interval: '1000'
    log_external_requests: false
    default_quota_cpu: 30
    default_quota_mem: 20Gi
    has_node_list: false
  image:
    repository: hkube/task-executor
    tag: v1.3.10
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
thirdparty:
  enabled: true
tolerations: []
trigger_service:
  env:
    metric_port: '3000'
  image:
    repository: hkube/trigger-service
    tag: v1.3.3
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
worker:
  env:
    metric_port: '3000'
  image:
    repository: hkube/worker
    tag: v1.3.8
  metrics:
    port: 3001
  service:
    type: ClusterIP
caching_service:
  env:
    port: '9005'
  image:
    repository: hkube/caching-service
    tag: v1.3.5
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
algorithm_builder:
  image:
    repository: hkube/algorithm-builder
    tag: v1.3.19
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
kaniko:
  image:
    repository: hkube/kaniko
    tag: v1.3.1
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
oc_builder:
  image:
    repository: hkube/oc-builder
    tag: v1.3.0
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
algorithm_example_python:
  image:
    repository: hkube/algorithm-example-python
    tag: v1.3.1
etcd_defrag:
  enable: true
  pattern: '*/10 * * * *'
  image:
    repository: hkube/etcd-defrag-cron
    tag: v1.0.0
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
sync_server:
  enabled: true
  image:
    repository: hkube/sync-server
    tag: v1.3.1
  ingress:
    enabled: true
    path: /hkube/sync
storage_migration:
  enable: false
  env:
    source_storage_encoding: bson
  image:
    repository: hkube/storage-migration
    tag: v1.3.2
fullSystemVersion: v1.3.65-1593681226352
