---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-server-configmap
data:
  NODE_ENV: {{.Values.env.node_env}}
  BASE_URL_PATH: {{ .Values.api_server.env.base_url_path | quote}}
  DEFAULT_STORAGE: {{ .Values.env.default_storage | quote}}
  STORAGE_ENCODING: {{ .Values.global.storage.encoding | quote}}
  STORAGE_RESULTS_THRESHOLD: {{ .Values.global.storage.storageResultsThreshold | quote}}
{{- if eq .Values.env.default_storage "fs" }}
  BASE_FS_ADAPTER_DIRECTORY: {{ .Values.global.storage.fs.base_directory | quote}}
{{- end }}  
  METRICS_PORT: {{ .Values.api_server.env.metric_port | quote}}
  PORT: {{ .Values.api_server.env.port | quote}}
  PIPELINE_DRIVER_CPU: {{ .Values.api_server.env.pipeline_driver_cpu | quote}}
  PIPELINE_DRIVER_MEM: {{ .Values.api_server.env.pipeline_driver_mem | quote}}
  INGRESS_PREFIX: {{ .Values.global.ingress.prefix | quote}}
  BODY_SIZE_LIMIT: {{ .Values.api_server.env.maxBodySize | quote}}
  CLUSTER_NAME: {{ .Values.global.clusterName | quote}}
  API_SERVER_RATE_LIMIT_MS: {{ .Values.api_server.env.rate_limit_ms | quote}}
  API_SERVER_RATE_LIMIT_MAX: {{ .Values.api_server.env.rate_limit_max | quote}}
  KEYCLOAK_ENABLE: {{ .Values.keycloak.enable | quote }}
  KC_URL: {{ printf "%s/keycloak" .Values.global.hkube_url | quote }}