---
apiVersion: v1
kind: ConfigMap
metadata:
  name: simulator-configmap
data:
  API_SERVER_BACKEND_PATH: {{ printf "%s%s" .Values.global.ingress.prefix .Values.simulator.env.api_server_backend_path | quote }} 
  API_SERVER_BACKEND_DATASOURCES_SERVICE_PATH: {{ printf "%s%s" .Values.global.ingress.prefix .Values.simulator.env.api_server_backend_datasources_service_path | quote }} 
  API_SERVER_BACKEND_USE_LOCATION: {{ .Values.simulator.env.api_server_backend_use_location | quote }}
  API_SERVER_BACKEND_HOST: {{ .Values.simulator.env.api_server_backend_host | quote }}
  API_SERVER_BACKEND_PORT: {{ .Values.simulator.env.api_server_backend_port | quote }}

  API_SERVER_BACKEND_IS_SECURE: {{ .Values.simulator.env.is_secure | quote }}
  
  BOARD_PATH: {{ printf "%s%s" .Values.global.ingress.prefix .Values.simulator.env.board_path | quote }} 
  BOARD_USE_LOCATION: {{ .Values.simulator.env.board_use_location | quote }}
  BOARD_HOST: {{ .Values.simulator.env.board_host | quote }}
  BOARD_PORT: {{ .Values.simulator.env.board_port | quote }}
  
  DATA_SOURCE_IS_ENABLE: {{ .Values.datasources_service.enabled | quote }}
  KIBANA_URL: {{ .Values.env.kibana_url | quote }}
  GRAFANA_URL: {{ .Values.env.grafana_url | quote }}
  VITE_SITEBASEURL: {{ .Values.site.base_url | quote }}
  ELASTICSEARCH_STRUCTURED_PREFIX: {{ .Values.api_server.env.elasticsearch_structured_prefix | quote }}
  
  VITE_KEYCLOAK_ENABLE: {{ .Values.keycloak.enable | quote }}